
/* All tags
************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables
*************/


/* Utilities 
*************/

.alignment {
    vertical-align: middle;
}


/* Body
********/


/* Header
**********/

header{
    background-color: #c4eec33d;
    padding: 0.25rem 0;
}

#header_logo {
    background-color: #001aff15;
    width: 400px;
    text-align: center;
    margin: 10px auto;
    padding-top: 40px;
    border-radius: 50%;
}

#logo {
    width: 100px;
    height: 100px;
}

.logo-text {
    height: 90px;
    width: auto;
    display: inline-block;
    font-size: 2rem;
    line-height: 0px;
}


/* Nav
*******/


/* Main
********/


/* Footer
**********/