
/* All tags
************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border: 1px solid var(--primary-color);
}

/* Variables
*************/
:root {
    --primary-color:#001aff15;
}

/* Utilities 
*************/

.alignment {
    vertical-align: middle;
    text-align: center;
}


/* Body
********/


/* Header
**********/

header{
    background-color: #c4eec33d;
    padding: 0.25rem 0;
}

#header_logo {
    background-color: var(--primary-color);
    width: 400px;
    text-align: center;
    margin: 10px auto;
    padding-top: 40px;
    border-radius: 50%;
}

#logo {
    width: 100px;
    height: 100px;
}

.logo-text {
    height: 90px;
    width: auto;
    display: inline-block;
    font-size: 2rem;
    line-height: 0px;
}


/* Nav
*******/

#nav_site {
    width: 400px;
    margin: auto;
}

.button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    display: inline-block;
    font-size: larger;
    margin: 5px 0;
}

/* Main
********/


/* Footer
**********/